In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("C:/Users/m143795/Desktop/Class/World_Weather_Analysis/weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Busselton,40,AU,2022-02-03 23:37:51,33,-33.6500,115.3333,82.04,12.55
1,1,Arica,0,CL,2022-02-03 23:37:52,68,-18.4750,-70.3042,74.75,5.75
2,2,Hithadhoo,90,MV,2022-02-03 23:37:53,72,-0.6000,73.0833,81.21,8.86
3,3,Roebourne,53,AU,2022-02-03 23:37:53,52,-20.7833,117.1333,87.57,9.44
4,4,Ponta Do Sol,48,PT,2022-02-03 23:37:54,79,32.6667,-17.1000,66.00,4.54

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))