In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("C:/Users/m143795/Desktop/Class/World_Weather_Analysis/weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Busselton,40,AU,2022-02-03 23:37:51,33,-33.6500,115.3333,82.04,12.55
1,1,Arica,0,CL,2022-02-03 23:37:52,68,-18.4750,-70.3042,74.75,5.75
2,2,Hithadhoo,90,MV,2022-02-03 23:37:53,72,-0.6000,73.0833,81.21,8.86
3,3,Roebourne,53,AU,2022-02-03 23:37:53,52,-20.7833,117.1333,87.57,9.44
4,4,Ponta Do Sol,48,PT,2022-02-03 23:37:54,79,32.6667,-17.1000,66.00,4.54

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Busselton,40,AU,2022-02-03 23:37:51,33,-33.6500,115.3333,82.04,12.55
2,2,Hithadhoo,90,MV,2022-02-03 23:37:53,72,-0.6000,73.0833,81.21,8.86
3,3,Roebourne,53,AU,2022-02-03 23:37:53,52,-20.7833,117.1333,87.57,9.44
6,6,Witu,94,KE,2022-02-03 23:37:55,95,-2.3889,40.4382,78.96,3.89
9,9,Caraballeda,75,VE,2022-02-03 23:37:56,69,10.6112,-66.8522,80.67,5.75
11,11,Rikitea,100,PF,2022-02-03 23:37:57,75,-23.1203,-134.9692,77.99,16.93
14,14,Vaini,40,TO,2022-02-03 23:37:59,79,-21.2000,-175.2000,86.16,8.05
28,28,Puerto Ayora,16,EC,2022-02-03 23:38:05,89,-0.7393,-90.3518,76.55,5.99
39,39,Harper,1,LR,2022-02-03 23:38:11,80,4.3750,-7.7169,79.52,6.46
40,40,Bengkulu,99,ID,2022-02-03 23:38:11,88,-3.8004,102.2655,76.08,3.47

In [17]:
preferred_cities_df.count()

City_ID       139
City          139
Cloudiness    139
Country       139
Date          139
Humidity      139
Lat           139
Lng           139
Max Temp      139
Wind Speed    139
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0      Busselton      AU     82.04 -33.6500  115.3333
2      Hithadhoo      MV     81.21  -0.6000   73.0833
3      Roebourne      AU     87.57 -20.7833  117.1333
6           Witu      KE     78.96  -2.3889   40.4382
9    Caraballeda      VE     80.67  10.6112  -66.8522
11       Rikitea      PF     77.99 -23.1203 -134.9692
14         Vaini      TO     86.16 -21.2000 -175.2000
28  Puerto Ayora      EC     76.55  -0.7393  -90.3518
39        Harper      LR     79.52   4.3750   -7.7169
40      Bengkulu      ID     76.08  -3.8004  102.2655

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Busselton,AU,82.04,-33.6500,115.3333,Observatory Guest House
2,Hithadhoo,MV,81.21,-0.6000,73.0833,Scoop Guest House
3,Roebourne,AU,87.57,-20.7833,117.1333,Latitude20 Roebourne Village
6,Witu,KE,78.96,-2.3889,40.4382,
9,Caraballeda,VE,80.67,10.6112,-66.8522,Hotel 15 Letras

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))